<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Cadastro de fornecedores</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
<script type="text/javascript" src="webjars/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" th:src="@{/js/global.js}"></script>

</head>
<body>
	
	<form class="form-inline" method="POST" th:object="${fornecedor}"
		th:action="@{/cadastro/fornecedor}" style="margin: 20px 0">
		<div class="form-group">
			<input type="hidden" class="form-control" placeholder="Id"
				th:field="*{idFornecedor}" /> 
			<input type="text" class="form-control" placeholder="Razão Social"
				th:field="*{razaoSocial}" /> 
			<input type="text" class="form-control" placeholder="Nome Fantasia"
				th:field="*{nomeFantasia}" /> 
			<input type="text" class="form-control" placeholder="CNPJ"
				th:field="*{cnpj}" /> 
			<button type="submit" class="btn btn-primary">Adicionar</button>
		</div>
	</form>

	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Lista de fornecedores</h1>
		</div>

		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Razão Social</th>
						<th>Nome Fantasia</th>
						<th>CNPJ</th>
						<th>Editar</th>
						<th>Remover</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="fornecedor : ${fornecedores}">
						<td th:text="${fornecedor.razaoSocial}"></td>
						<td th:text="${fornecedor.nomeFantasia}"></td>
						<td th:text="${fornecedor.cnpj}"></td>
						<td> <a href="#" class="btn btn-sm btn-primary" th:href="${'fornecedor/editar/' + fornecedor.idFornecedor}">Alterar</a> </td>
						<td> <a href="#" class="delete btn btn-sm btn-danger" th:href="${'fornecedor/deletar/' + fornecedor.idFornecedor}">Excluir</a> </td>
						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>
