<!DOCTYPE html>
<html ng-app="cadastroProduto" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Cadastro de produtos</title>
<style type="text/css">
	
	.jumbotron {
		width: 800px;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
	}

</style>



<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
<script type="text/javascript" src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" th:src="@{/angular/angular.js}"></script>

<script type="text/javascript">

	angular.module("cadastroProduto", []);	

	angular.module("cadastroProduto").controller("listaProdutosController", function($scope, $http){

		var carregaHistoricoEstoque = function (){
			$http.get("http://localhost:8080/cadastro/produto/historicoEstoque").then(function(result){
				$scope.historicoEstoque = result.data;
				console.log(result.data);
			});
		};
		
			
	
		carregaHistoricoEstoque();
	});



</script>

</head>
<body ng-controller="listaProdutosController">
	
	<div class="jumbotron"> 

		<form class="form-inline" method="POST" th:object="${produto}" th:action="@{/cadastro/produto}" style="margin: 20px 0">
			<div class="form-group">
				<button type="button" class="btn btn-primary" onclick="location.href='/cadastro/produto'">Novo</button>
				<button type="submit" class="btn btn-primary">Salvar</button>
				<div th:if="${produto.idProduto != null}">
				    <a href="#" class="btn btn-sm btn-danger" th:href="${'/cadastro/produto/deletar/' + produto.idProduto}">Excluir</a>
				</div>
				
			</div>
			<div class="form-group pull-right">
				<a href="#" class="btn btn-sm btn-primary" th:href="${'/cadastro/produto/abrirPesquisa'}">Pesquisar</a>
<!-- 				<button type="button" class="btn btn-primary" onclick="location.href='/cadastro/produto/abrirPesquisa'" >Pesquisar</button> -->
			</div>
		<br/>	<br/>

			<div class="form-group">
				<input type="hidden" class="form-control" placeholder="Id"
					th:field="*{idProduto}" /> 
		
		    <table>
			    <tr>
			    	<td><span class="label label-default">Descrição:</span></td>
			    	<td><input type="text" class="form-control" placeholder="Descrição"
					th:field="*{descricao}" style="min-width:600px;"/></td>		    	
			    </tr>
			    <tr>
			    	<td><span class="label label-default">Fabricante:</span></td>
			    	<td><select class="form-control" placeholder="Fabricante" th:field="*{fabricante}">
	                <option value="" th:text="#{common.select.prompt}"></option>
	                <option th:each="f : ${fabricantes}" 
	                        th:value="${f.idFabricante}" th:text="${f.razaoSocial}">Fabricante 1</option>
	            </select></td>		    	
			    </tr>
			    <tr>
			    	<td><span class="label label-default">Fornecedor:</span></td>
			    	<td><select class="form-control" placeholder="Fornecedor" th:field="*{Fornecedor}">
					<option value="" th:text="#{common.select.prompt}"></option>
	                <option th:each="f : ${fornecedores}" 
	                        th:value="${f.idFornecedor}" th:text="${f.razaoSocial}">Fornecedor 1</option>
	            </select></td>		    	
			    </tr>
			    <tr>
			    	<td><span class="label label-default">Grupo:</span></td>
			    	<td><select class="form-control" placeholder="Grupo" th:field="*{grupo}">
					<option value="" th:text="#{common.select.prompt}"></option>
	                <option th:each="g : ${grupos}" 
	                        th:value="${g.idGrupo}" th:text="${g.descricao}">Grupo 1</option>
	            </select></td>		    	
			    </tr>
			    <tr>
			    	<td><span class="label label-default">Tabela de preço</span></td>
			    	<td><select class="form-control" placeholder="Tabela de preço" th:field="*{tabelaPreco}">
					<option value="" th:text="#{common.select.prompt}"></option>
	                <option th:each="tp : ${tabelasPreco}" 
	                        th:value="${tp.idTabelaPreco}" th:text="${tp.descricao}">Tabela de preço 1</option>
	            </select></td>		    	
			    </tr>
			    <tr>
			    	<td><span class="label label-default">Valor de compra</span></td>
			    	<td><input type="text" class="form-control" placeholder="Valor compra"
					th:field="*{valorCompra}" /></td>
			    </tr>
		    </table>
				
			</div>
			
		
			
		</form>
		<a href="#" class="btn btn-sm btn-primary" th:href="${'/index'}">Voltar</a>
	</div>
	
		<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Preços do produto</h1>
		</div>

		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Tabela</th>
						<th>Margem de lucro</th>
						<th>Preço</th>
						<th>Ação</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pp : ${precosProduto}">
						<td th:text="${pp.tabela.descricao}"></td>
						<td th:text="${pp.margemLucro}"></td>
						<td th:text="${pp.preco}"></td>
						<td> <a href="#" class="btn btn-sm btn-primary" th:href="${'/cadastro/preco_produto/editar/' + pp.idPrecoProduto}">Alterar</a> </td>						
					</tr>
				</tbody>
			</table>
			
		<div class="panel-heading">
			<h1 class="panel-title">Historico do estoque do produto</h1>
		</div>
		<div>
			<select id="cboEstoque" class="form-control" placeholder="Estoque" style="min-width:200px;" ng-init="estoque = 1"  ng-model="estoque">
		    	<option th:each="e : ${estoques}" th:value="${e.idEstoque}" th:text="${e.descricao}">Estoque 1</option>
	    	</select>
		</div>	
			
			<table class="table table-striped">
			<tr>
				<th>Pedido de compra</th>
				<th>Pedido de Venda</th>
				<th>Historico</th>				
				<th>Data</th>
				<th>Quantidade</th>
				<th>Estoque atual</th>								
			</tr>
			<tr ng-repeat="historico in historicoEstoque | filter:{idEstoque : estoque } ">
				<td>{{historico.pedidoCompra.idPedidoCompra}}</td>				
				<td>{{historico.pedidoVenda.idPedidoVenda}}</td>
				<td>{{historico.historico}}</td>				
				<td>{{historico.data | date:'dd/MM/yyyy HH:mm'}}</td>
				<td>{{historico.quantidade}}</td>				
				<td>{{historico.totalEstoque}}</td>																
			</tr>
		</table>
			
			
		</div>
	</div>
	
	{{estoque}}
</body>

<script type="text/javascript">
	// Devido ao ng-model não vem um valor padrao entao o codigo abaixo seta o primeiro registro
	
	$(document).ready(function() {
		var cboEstoque = document.getElementById("cboEstoque");
		cboEstoque.selectedIndex = 1;
		
	});

</script>

</html>


